# added by check_manifest.py
include *.py
include *.rst
include tox.ini
include MANIFEST.in
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
